<ion-card>
  <ion-card-header align="center">
    <img class="notification-icon" src="assets/imgs/career-xplora-header-logo.png" alt="career-xplora">
  </ion-card-header>

  <ion-card-content align="center">
    {{message}}
    <br>
    <br>
    <button (click)="dismiss()" ion-button color="secondary" round icon-end>
      Close
      <ion-icon name="close-circle-outline"></ion-icon>
    </button>
  </ion-card-content>
</ion-card>
